html {
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#container {
    width: 800px;
    background-image: url(sign-up-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}